html,body {
  height:100%;
  background:center no-repeat fixed url('/assets/example/bg_suburb.jpg');
}

.icon-bar {
  background-color:#fff;
}

.navbar-trans {
  background-color:#279ddd;
  color:#fff;
}

.navbar-trans li>a:hover,.navbar-trans li>a:focus {
  background-color:#49bfff;
}

.navbar-trans li.active>a {
  background-color:#49bfff;
}

.navbar-trans a{
  color:#fefefe;
}

.navbar-trans .form-control:focus {
  border-color: #eee;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

section {
  padding-top:50px;
  padding-bottom:50px;
  min-height:calc(100% - 1px);
}

.v-center {
  padding-top:10%;
  font-size:70px;
}

.well {
  border-color:transparent;
}

#section1 {
  background-color: #168ccc;
  color:#dedeff;
}

#section2 {
  background-color: #e5e5ef;
  color:#686868;
}

#section3 {
  background-color: #168ccc;
  color:#ddd;
}

#section4 {
  background-color: #fff;
  color:#444;
}

#section5 {
  background-color: #168ccc;
  color:#ddd;
}

#section6 {
  color:#f5f5f5;
}

footer {
  background-color:#494949;
  color:#ddd;
  min-height:100px;
  padding-top:20px;
  padding-bottom:40px;
}

footer .nav>li>a {
  padding:3px;
  color:#ccc;
}

footer .nav>li>a:hover {
  background-color:transparent;
  color:#fff;
}

.badge-list {
  margin-top: 60px;
}

.badge-class {
  background: #ffffff;
  margin: 0 auto 15px;
  position: relative;
  border: 1px solid #dbdbdb;
  box-shadow: 0 3px 0 0 #dbdbdb;
  -moz-box-shadow: 0 3px 0 0 #dbdbdb;
  -webkit-box-shadow: 0 3px 0 0 #dbdbdb;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 25px;
  clear: none;
  height: 450px;
  vertical-align: middle;
  margin-bottom: 1em;
}

.bg-gray {
  background-color: #f9f9f9 !important;
}
.inner {
  padding: 15px;
  position: relative;
}
.text-inverse {
  color: #45484d;
}
.strong {
  font-weight: bold;
}
.text-center {
  text-align: center !important;
}

.label {
  margin: 2px;
}

.ribbon {
  background-color: #fc9141;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
}

.ribbon img {
  height: 14px;
  vertical-align: -2px;
  margin-left: .25em;
}

.ribbon {
  width: 190px;
  padding-left: 12px;
  position: absolute;
  top: -2em;
  left: -64px;
  transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: 0 0 8px #888;
}

.labels {
  padding-left: 65px;
}