<!DOCTYPE html>
<html ng-app="directory">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <style>
      span.error {
        display: block;
        font-weight: bold;
        color: red;
      }
    </style>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Open Badges Directory</title>
  </head>

  <body>
    <header>
      <div class="ribbon">
        Beta
      </div>
      <div class="inner">
        <h1><a href="/openbadges-directory">Open Badges Directory</a></h1>
        <h2>Worldwide Directory of Open Badges</h2>
        <a href="https://github.com/mozilla/openbadges-directory" class="button"><small>Follow us on </small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
           <li><a href="/openbadges-directory/add-badges">Add Your Badges</a>
             <ul>
               <li><a href="/openbadges-directory/add-badges#how-does-it-work">How Does it work?</a></li>
               <li><a href="/openbadges-directory/add-badges#instructions">Instructions</a></li>
               <li><a href="/openbadges-directory/badgelist-endpoint">Badge List Endpoint Tutorial</a></li>
               <li><a href="/openbadges-directory/add-badges#registration-form">Registration Form</a></li>
             </ul>
            </li>
            <li><a href="/openbadges-directory/directory-api">Retrieve Badges (API)</a>
              <ul>
                <li><a href="/openbadges-directory/directory-api#api-explorer">API Explorer (Swagger Interface)</a></li>
                <li><a href="/openbadges-directory/directory-api#api">API</a>
                  <ul>
                    <li><a href="/openbadges-directory/directory-api#search">Search</a></li>
                    <li><a href="/openbadges-directory/search-for-badges">Search for Badges Tutorial</a></li>
                    <li><a href="/openbadges-directory/directory-api#recent">Recent</a></li>
                    <li><a href="/openbadges-directory/get-recent-badges">Get Recent Badges Tutorial</a></li>
                    <li><a href="/openbadges-directory/directory-api#badge-location">Badge Location</a></li>
                    <li><a href="/openbadges-directory/badge-from-location">
                    Get a Badge from its Location Tutorial</a></li>
                    <li><a href="/openbadges-directory/directory-api#tags">Tags</a></li>
                    <li><a href="/openbadges-directory/find-badge-tags">Find Badge Tags Tutorial</a></li>
                  </ul>
                </li>
              </ul> 
            </li>
            <li><a href="/openbadges-directory/directory-api/#libraries-and-examples">Libraries and Examples</a></li>
              
          <p>&nbsp;</p>
          <p>This page was generated by <a href="http://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

    <script>
    </script>
  </body>
</html>
